.topbar {
    padding: 0px;
    width: 100%;
    height: 70px;
    background:rgb(65 80 140);
    color:white;
    display: flex;
    justify-content: space-around;
  
  }

  .topbar li{
    list-style: none
    
  }

  .userAction{
    width: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .userAction ul{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

  }